<footer class="w-full max-w-[1920px] mx-auto grid grid-cols-1 h-full text-vanilla p-1 bg-raisin-black min-h-40">
  <section class="w-full flex flex-row flex-wrap p-2">
    <div class="grow flex gap-4">
      <div class="max-w-80 w-full">
        <h2 class="relative select-none py-2 text-3xl max-w-max">
          Redes
          <span class="absolute top-0 left-1 rounded-full block w-5 h-2 border border-[#f3dfa2ff]"></span>
          <span class="absolute bottom-0 right-1 rounded-full bg-vanilla block w-5 h-2 border border-[#f3dfa2ff]"></span>
        </h2>
        <div class="text-linen w-full py-2">
          <ul class="list-none">
            <li class="mb-3">
              <a href="" target="_blank" class="group flex max-w-50 w-full items-center relative">
                <div class="max-w-max">
                  <img width="30" class="text-white" src="imgs/logo-github.svg" alt="">
                </div>
                <span class="transition-all invisible whitespace-nowrap text-ellipsis overflow-hidden select-none -translate-x-5 ease-out absolute select-none pointer-events-none right-0 flex items-center p-1 rounded-md bg-vanilla text-raisin-black indent-3 max-w-60 w-full group-hover:indent-4 group-hover:visible group-hover:translate-x-10 font-mono font-bold">Meu Github</span>
              </a>
            </li>
            <li class="mb-3">
              <a href="" target="_blank" class="group flex max-w-50 w-full items-center relative">
                <div class="max-w-max">
                  <img width="30" src="/imgs/logo-facebook.svg" class="text-white" alt="">
                </div>
                <span class="transition-all invisible whitespace-nowrap text-ellipsis overflow-hidden select-none -translate-x-5 ease-out absolute select-none pointer-events-none right-0 flex items-center p-1 rounded-md bg-vanilla text-raisin-black indent-3 max-w-60 w-full group-hover:indent-4 group-hover:visible group-hover:translate-x-10 font-mono font-bold">Ford Facebook</span>
              </a>
            </li>
            <li class="mb-3">
              <a href="" target="_blank" class="group max-w-50 w-full flex items-center relative">
                <div class="max-w-max">
                  <img width="30" src="/imgs/logo-instagram.svg" class="text-white" alt="">
                </div>
                <span class="transition-all invisible whitespace-nowrap text-ellipsis overflow-hidden select-none -translate-x-5 ease-out absolute select-none pointer-events-none right-0 flex items-center p-1 rounded-md bg-vanilla text-raisin-black indent-3 max-w-60 w-full group-hover:indent-4 group-hover:visible group-hover:translate-x-10 font-mono font-bold">Ford Instagram</span>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="max-w-80 w-full">
        <h2 class="relative py-2 select-none text-3xl max-w-max">
          Shortcuts
          <span class="absolute top-0 left-1 rounded-full block w-5 h-2 border border-[#f3dfa2ff]"></span>
          <span class="absolute bottom-0 right-1 rounded-full bg-vanilla block w-5 h-2 border border-[#f3dfa2ff]"></span>
        </h2>

        <div class="text-linen w-full py-2">
          <ul class="list-disc list-inside">
            <li>
              <a routerLink="profile" class="text-xl hover:underline underline-offset-2">Profile</a>
            </li>
            <li>
              <a routerLink="myspace" class="text-xl hover:underline underline-offset-2">Meu espaço</a>
            </li>
            <li>
              <a routerLink="" class="text-xl hover:underline underline-offset-2">Home</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="flex flex-row flex-wrap gap-2 w-full max-w-1/2 pt-3">
      <section class="rounded-md border-[#f3dfa250] border-1 p-2">
        <h2 class="relative py-2 select-none text-3xl max-w-max">
          Sua Privacidade
          <span class="absolute top-0 left-1 rounded-full block w-5 h-2 border border-[#f3dfa2ff]"></span>
          <span class="absolute bottom-0 right-1 rounded-full bg-vanilla block w-5 h-2 border border-[#f3dfa2ff]"></span>
        </h2>

        <div class="mt-2 text-linen">
          <p>Esse projeto tem como objetivo complementar atividades financeiras domésticas, e não coletar dados sensíveis do usuário como <strong>Conta bancária e dados de sua conta</strong>. </p>
        </div>
      </section>
      <section class="rounded-md border-[#f3dfa250] border-1 p-2">
        <div>
          <li class="list-inside">O projeto não requisita <i>conta bancária</i>, <i>cpf</i>, <i>endereço</i>, ou quaisquer dados que possam comprometer a privacidade do usuário.</li>
        </div>
      </section>
    </div>
  </section>
  <div class="w-full my-5 p-2 border-t-1 border-[#f3dfa2ff] bottom-0 text-center">
    <p>Diretos reservados, Lucas P. Dominguez &copy; 2025 - 2025</p>
  </div>
</footer>
