<header class="w-full sticky top-0 z-10 max-w-[1920px] mx-auto text-white bg-raisin-black">
  <section class="flex flex-row max-w-xl px-1 mx-auto justify-between items-center py-2">
    <div id="logo">
      <!--<span class="block text-2xl">Logo</span>-->
      <a routerLink="" class="flex items-center justify-center"><img width="50"  src="/logo_trs.png" alt=""></a>
      @if (user!== null) {
        <span class="p-1 text-sm font-mono bg-verdigris text-raisin-black rounded-sm flex items-center gap-1">
          <strong class="border-r pr-1">{{user.user}}</strong>
          <span class="material-symbols-rounded" style="font-size: 12pt;">person</span>
        </span>
      }
    </div>
    <nav class="relative">
      <button (pointerup)="headerNavToggle($event)" data-nav-toggled="false" type="button"
        class="lg:hidden transition-all outline outline-transparent focus:bg-white focus:text-black hover:bg-white hover:text-black focus:bg-black! focus:text-white focus:border-white focus:outline-white cursor-pointer rounded-md border aspect-square w-10 flex items-center justify-center text-center">
          <span class="material-symbols-rounded">menu</span>
        </button>
      <ul
        class="flex flex-col transition-all ease-in opacity-0 lg:opacity-100 gap-2 overflow-hidden invisible lg:visible absolute right-0 w-50 max-w-80 bg-raisin-black p-1 lg:p-0 rounded-sm border-1 border-gray-300 translate-y-5 lg:translate-none lg:border-none lg:rounded-none lg:max-w-max lg:w-max lg:flex-row lg:static">
        <li>
          <a routerLink="" class="transition-all hover:bg-stone-400 hover:rounded-sm flex items-center p-1">Home</a>
        </li>
        <li>
          <a routerLink="profile"
            class="transition-all hover:bg-stone-400 hover:rounded-sm flex items-center p-1">Profile</a>
        </li>
        <li>
          <a routerLink="dashboard"
            class="transition-all hover:bg-stone-400 lg:pointer-events-auto hover:rounded-sm flex items-center p-1">Dashboard</a>
        </li>
        @if (user !== null) {

          <li>
            <button type="button" (click)="btnLogout($event)" title="Sair da conta" class="transition-all cursor-pointer lg:border-stone-700 lg:border-l hover:bg-stone-400 hover:rounded-sm flex items-center p-1">Logout</button>
          </li>
        } @else {
        <li>
          <a routerLink="login"
            class="transition-all border-l hover:bg-stone-400 lg:pointer-events-auto hover:rounded-sm flex items-center p-1">Login</a>
        </li>
        }
      </ul>
    </nav>
  </section>
</header>
