$raisin-black: #231f20ff;
$persian-red: #bb4430ff;
$verdigris: #7ebdc2ff;
$vanilla: #f3dfa2ff;
$linen: #efe6ddff;

@layer components {
  .bg-raisin-black {
    background-color: $raisin-black;
  }

  .bg-persian-red {
    background-color: $persian-red;
  }

  .bg-verdigris {
    background-color: $verdigris;
  }

  .bg-vanilla {
    background-color: $vanilla;
  }

  .bg-linen {
    background-color: $linen;
  }

  .text-raisin-black {
    color: $raisin-black;
    fill: $raisin-black;
  }

  .text-persian-red {
    color: $persian-red;
    fill: $persian-red;
  }

  .text-verdigris {
    color: $verdigris;
    fill: $verdigris;
  }

  .text-vanilla {
    color: $vanilla;
    fill: $vanilla;
  }

  .text-linen {
    color: $linen;
    fill: $linen;
  }
}
